.card {
  // background-color: aqua;
  height: 320px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border: 2px solid;
  border-color: rgb(238, 238, 238);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-box-shadow: 1px 7px 15px -6px rgba(34, 60, 80, 0.36);
  -moz-box-shadow: 1px 7px 15px -6px rgba(34, 60, 80, 0.36);
  box-shadow: 1px 7px 15px -6px rgba(34, 60, 80, 0.36);
  cursor: pointer;

  .button {
    font-size: 25px;
    border: 1px solid;
    border-radius: 15px;
    border-color: rgb(175, 175, 175);
    color: rgb(175, 175, 175);
    width: 130px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &:hover {
      transition: 0.3s ease-in-out;
      border-color: rgb(172, 46, 46);
      color: rgb(172, 46, 46);
    }
  }

  .name {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(145, 133, 133);
  }

  .price {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .wrapImg img {
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 200px;
  }

  &:hover {
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
    -webkit-box-shadow: 1px 7px 15px -6px rgba(34, 60, 80, 0.36);
    -moz-box-shadow: 1px 7px 15px -6px rgba(34, 60, 80, 0.36);
    box-shadow: 3px 12px 15px -6px rgba(34, 60, 80, 0.36);
  }
}
