a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  // background-color: gold;
}

.wrapLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 400px;
  // background-color: rgb(8, 238, 0);
  font-size: 25px;
  padding: 5px;
  .logo {
    // background-color: brown;
    display: flex;
    color: rgb(172, 46, 46);
    font-family: 'Kaushan Script';
    // text-shadow: 1px 1px 2px rgb(199, 81, 81);
    text-shadow: 0 4px 6.896px #aa1a01, 0 -2px 1px rgb(255, 255, 255);
    font-weight: 800;
    letter-spacing: 3px;
    &:hover {
      text-shadow: 0 6px 6.896px #f3654c, 0 -2px 1px #fff;
      color: #eb391a;
    }
    img {
      width: 70px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 840px) {
  .wrapLogo {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  .wrapLogo {
    // background-color: blue;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    .logo {
      img {
        width: 50px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}
